<script type="module" src="~/Camera/UnicoCamera.js"></script>

<style>

    .container2 {
        width: 800px;
        height: 600px;
        position: relative;
    }
</style>


<div class="container2">
    <div id="box-camera"></div>
</div>


<div id="imagem">
    <img id="base64" src="" />
</div>



